/out/
/resources/public/js/compiled/
/target/
/*-init.clj
/*.log
/.cpcache/

# Leiningen
/.lein-*
/.nrepl-port

# Node.js dependencies
/node_modules/

.DS_Store
# shadow-cljs cache, port files

/.shadow-cljs/
public/out
